
#Testimonials{
    padding-top: 0px;
    background-color: #686b83;
}
.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .testimonial-box {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border:1px solid rgb(143, 138, 138);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  .testimonial-text {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 10px;
  }
  
  .testimonial-author {
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
  }
  .testimonials-header{
    text-align: center;
  }
  .testimonials-header >h1{
    text-transform: capitalize;
    color: #ffff;
  }
  .testimonials-header>h3{
    font-weight: 500;
    box-sizing: border-box;
    text-transform: capitalize;
  }

